{% load static %} 
<div class="p-4" id="password_tab_div">
    <form method="post"> 
        {% csrf_token %} 
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-md-6"> <strong>Set Password</strong>
                        <br>
                        <input type="text" class="form-control" name="new_password" value="{{employee_detail.password|default_if_none:''}}">
                        <div class="text-center mt-2">
                            <button class="btn btn-success" type="submit" name="set_staff_password"> Update </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>