{% extends "base.html" %} 
{% load static %} 
{% load mystery_extras %} 
{% block breadcrumb %} 
<h5 class="text-primary mb-0" style="font-weight: bold; white-space: nowrap;"><a class="text-primary mb-0" href="javascript:history.back()">SLR Salon</a> <i class="fas fa-angle-double-right"></i> {{slr_audit.center}} ({{slr_audit.month_of_audit}})
</h5> 
{% endblock breadcrumb %} 
{% block content %} 
{% for message in messages %} 
<p class="text-danger text-center" id="messages">{{message}}</p> 
{% endfor %} 
<input type="hidden" name="" id="exit_check">
<div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tag-slrsalonprofile_tab" data-toggle="tab" href="#slrsalonprofile_tab" role="tab" aria-controls="home" aria-selected="true" onclick="return saveTabSelect(this)">Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tag-slrsalonimageprofile_tab" data-toggle="tab" href="#slrsalonimageprofile_tab" role="tab" aria-controls="image" aria-selected="true" onclick="return saveTabSelect(this)">Files</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="slrsalonprofile_tab" role="tabpanel" aria-labelledby="home-tab"> {% include 'slr_salon/slr_profile_tabs/slr_profile.html' %} </div>
        <div class="tab-pane fade" id="slrsalonimageprofile_tab" role="tabpanel" aria-labelledby="image-tab"> {% include 'slr_salon/slr_profile_tabs/slr_image.html' %} </div>
    </div>
</div>
<script>
    // TODO add to session
    function saveTabSelect(item) {
        var prevSelectedTag = localStorage.getItem("curr_slrsalonprofile_tag");
        // console.log(`prevSelectedTag: `, prevSelectedTag);
        if (item.id == prevSelectedTag) {
            return;
        }
        if (prevSelectedTag) {
            var element = document.getElementById(prevSelectedTag);
            element.classList.remove("active");

            var tabPaneId = `${prevSelectedTag.split("-")[1]}`;
            // console.log(`tabPanId: `, tabPanId);
            var tabePaneElement = document.getElementById(tabPaneId);
            tabePaneElement.classList.remove('active');
        }
        localStorage.setItem("curr_slrsalonprofile_tag", item.id);
        // console.log(`cur tag id: `, item.id)
        return true;
    }

    function retrieveSelected() {
        var curTag = localStorage.getItem("curr_slrsalonprofile_tag");
        // console.log(`curTag: `, curTag);
        if (curTag) {
            var curElement = document.getElementById(`${curTag}`);
            if (curElement) {
                // revome active from first pill and tab in case there's any prev tag in local storage
                var dataTag = document.getElementById('tag-slrsalonprofile_tab');
                dataTag.classList.remove("active");
                var dataTabPaneElement = document.getElementById('slrsalonprofile_tab');
                dataTabPaneElement.classList.remove('active');

                // Add active to tab
                curElement.classList.add("active");
                var curPaneId = `${curTag.split('-')[1]}`;
                var curPaneElement = document.getElementById(curPaneId);
                curPaneElement.classList.add('show');
                curPaneElement.classList.add('active');

                // const tab = $(curElement).data('tab_selected');
                // window.location.href = `/clients/${client_id}/?tab=${tab}`;
            } else {
                // Else set in local storage the current active tab
                localStorage.setItem("curr_slrsalonprofile_tag", 'tag-slrsalonprofile_tab');
            }

        } else {
            // Else set in local storage the current active tab
            localStorage.setItem("curr_slrsalonprofile_tag", 'tag-slrsalonprofile_tab');
        }
    }
    retrieveSelected();
</script> 
{% endblock %}