{% extends "base.html" %}
{% load static %}

{% block breadcrumb %} <h5 class="text-primary mb-0" style="font-weight: bold;">Staffs</h5> {% endblock breadcrumb %}

{% block content %}
{% for message in messages %}
<p class="text-danger text-center" id="messages">{{message}}</p>
{% endfor %}
<div>
    <form method="get">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <select class="form-control" name="select_center">
                        <option value="">Search from Center</option>
                        {% for center in all_centers %}
                        <option {% if selected_center|add:'0' == center.id %} selected {% endif %} value="{{center.id}}">{{center}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input class="form-control" placeholder="Search.." type="text" name="searched_text" value="{{searched_text|default_if_none:''}}">
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <button class="btn btn-success btn-sm mb-2" type="submit" style="font-size: 15px;">
                        <i class="fas fa-search">&nbsp;</i>
                        Search
                    </button>
                    &nbsp;&nbsp;
                    <a href="{% url 'staff_lists' %}" class="btn btn-danger btn-sm mb-2"
                        style="font-size: 15px;">
                        Reset Filter
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row justify-content-end mr-2">
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="user_download_csv" id="">
        <button class="btn btn-info" type="submit" onclick="startDownload(this)"><i class="fas fa-download"></i></button>
    </form> &nbsp; &nbsp;
    <button class="btn btn-info text-white" data-toggle="modal" data-target="#add_user_modal">
        <i class="fas fa-plus"></i> Add New User 
    </button>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table no-wrap user-table mb-0">
                    <thead>
                        <tr>
                            <th scope="col" class="border-0 text-uppercase font-medium">#</th>
                            <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                            <th scope="col" class="border-0 text-uppercase font-medium">Assigned Centers</th>
                            <th scope="col" class="border-0 text-uppercase font-medium">Username</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for employee in employee_list %}
                    <tr>
                        <td class="pl-4">{{forloop.counter}}</td>
                        <td onclick="viewEmployeeDetail('{{employee.id}}')" style="cursor: pointer;">
                            <div class="d-flex align-items-start">
                                <img src="{% static 'images/men.png' %}" class="rounded-circle" width="30">
                                <div class="ml-2">
                                    <h5 class="font-weight-medium mb-0">
                                        {{employee.user.first_name|default_if_none:'' }} {{employee.user.last_name|default_if_none:'' }}
                                    </h5>
                                    <span class="text-muted">{{employee.user.username|default_if_none:''}}</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="text-muted">
                                {% if employee.associated_center.all|length > 3 %}
                                    <span class="text-muted" data-toggle="tooltip" title="{% for each_center in employee.associated_center.all %} {{each_center.zenoti_data.name|default_if_none:'' }} {% if not forloop.last %},{% endif %}
                                    {% endfor %}">{{ employee.associated_center.all|length }} Assigned Center</span> 
                                {% else %}
                                    {% for each_center in employee.associated_center.all %}
                                        {{each_center.zenoti_data.name|default_if_none:'' }}
                                        {% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                {% endif %}
                            </span>
                        </td>
                        <td>
                            {{employee.user.username|default_if_none:''}}
                        </td>
                        <td>
                            <button class="btn btn-danger" onclick="delete_confirmation_show('{{employee.id}}')"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    {% if employee_list.paginator.num_pages > 1%}
    <!-- Paginator -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not employee_list.has_previous %} disabled {% endif %}">
                <a class="page-link" href="?page=1{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" tabindex="-1">FIRST</a>
            </li>
            <li class="page-item {% if not employee_list.has_previous %} disabled {% endif %}">
                <a class="page-link" href="{% if employee_list.has_previous %}?page={{ employee_list.previous_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% endif %} " tabindex="-1">&laquo;</a>
            </li> {% if employee_list.number|add:'-4' > 1 %} <li class="page-item disabled">
                <a class="page-link" href="?page={{ employee_list.number|add:'-5' }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&hellip;</a>
            </li> {% endif %} {% for i in employee_list.paginator.page_range %} {% if employee_list.number == i %} <li class="active page-item current ">
                <a class="page-link" href="?page={{ i }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a>
            </li> {% elif i > employee_list.number|add:'-5' and i < employee_list.number|add:'5' %} <li class="page-item">
                <a class="page-link" href="?page={{ i }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a>
                </li> {% endif %} {% endfor %} {% if employee_list.paginator.num_pages > employee_list.number|add:'4' %} <li class="page-item disabled">
                    <a class="page-link" href="?page={{ employee_list.number|add:'5' }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&hellip;</a>
                </li> {% endif %} <li class="page-item {% if not employee_list.has_next %} disabled {% endif %}">
                    <a class="page-link" href="{% if employee_list.has_next %} ?page={{ employee_list.next_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %} {% endif %}">&raquo;</a>
                </li>
                <li class="page-item {% if not employee_list.has_next %} disabled {% endif %}">
                    <a class="page-link" href="{% if employee_list.has_next %} ?page={{ employee_list.paginator.num_pages }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %} {% endif %}">LAST</a>
                </li>
        </ul>
    </nav>
    {% endif %}
</div>

<!-- add user modal  -->
<div class="modal fade" id="add_user_modal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info" id="exampleModalLongTitle">Add New Audit User </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="form_id"> 
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-4">
                                <label class="mr-sm-2" for="inlineFormCustomSelect">First Name</label>
                                <input type="text" class="form-control" placeholder="name.." name="first_name" id="" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-4">
                                <label class="mr-sm-2" for="inlineFormCustomSelect">Last Name</label>
                                <input type="text" class="form-control" placeholder="name.." name="last_name" id="" required>
                            </div>
                        </div>
                    </div> 
                    <div class="form-group mb-4">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">phone</label>
                        <input type="number" class="form-control" placeholder="" name="phone" id="" required>
                    </div>
                    <div class="form-group mb-4">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Email</label>
                        <input type="text" class="form-control" placeholder="email" name="email" id="" required>
                    </div>
                    <div class="form-group mb-4">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Passcode</label>
                        <input type="text" class="form-control" placeholder="password.." name="passcode" id="" required>
                    </div>
                    <input type="hidden" name="add_new_user" id="">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-success" type="submit" onclick="this.form.submit(); this.disabled=true; this.innerHTML='Sending…';">Add User</button>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>

<!-- delete user modal  -->
<div class="modal fade" id="delete_user_modal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info" id="exampleModalLongTitle">Delete User </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id=""> 
                    {% csrf_token %} 
                    <input type="hidden" name="delete_main_user" id="delete_main_user_id">
                    <h3 class="text-danger">Are You Sure, You Want To Delete This User ?</h3>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-success" type="submit" onclick="this.form.submit(); this.disabled=true; this.innerHTML='Please Wait…';">Yes</button>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#add_user_type').select2({
            dropdownAutoWidth: true,
            multiple: true,
            width: '100%',
            height: '30px',
            placeholder: "Select",
            allowClear: true,
            // dropdownParent: $('#extra_data_div')
        });
    });

    $(document).ready(function () {
        $('#edit_user_type').select2({
            dropdownAutoWidth: true,
            multiple: true,
            width: '100%',
            height: '30px',
            placeholder: "Select",
            allowClear: true,
            // dropdownParent: $('#extra_data_div')
        });
    });

    function viewEmployeeDetail(employee_id) {
            window.location.href = `/body_craft_staff_profile/${employee_id}/`;
            return false;
        }

    function startDownload(button) {
        button.innerHTML = 'Downloading...';
        setTimeout(function () {
            button.innerHTML = '<i class="fas fa-download"></i>';
        }, 10000); // Change the timeout value as per your requirement
    }

    function delete_confirmation_show(t) {
        var del_id_input_box = document.getElementById('delete_main_user_id');
        del_id_input_box.value = t;
        $('#delete_user_modal').modal('show');
    }
</script>
{% endblock %}