{% extends "base.html" %}
{% load static %} 
{% block breadcrumb %} 
<h5 class="text-primary mb-0" style="font-weight: bold;">Zenoti Users</h5> 
{% endblock breadcrumb %} 
{% block content %} 
{% for message in messages %} 
<p class="text-danger text-center" id="messages">{{message}}</p> 
{% endfor %} 
<div>
    <form method="get">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <select class="form-control" name="select_jobtitle">
                        <option value="">Search from Center</option> 
                        {% for job in all_jobtitle %} 
                        <option {% if selected_jobtitle == job %} selected {% endif %} value="{{job}}">{{job}}</option> 
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input class="form-control" placeholder="Search.." type="text" name="searched_text" value="{{searched_text|default_if_none:''}}">
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <button class="btn btn-success btn-sm mb-2" type="submit" style="font-size: 15px;">
                        <i class="fas fa-search">&nbsp;</i> Search </button> &nbsp;&nbsp; <a href="{% url 'zenoti_staffs_list' %}" class="btn btn-danger btn-sm mb-2" style="font-size: 15px;"> Reset Filter </a>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table no-wrap user-table mb-0">
                    <thead>
                        <tr>
                            <th scope="col" class="border-0 text-uppercase font-medium"> Name </th>
                            <th scope="col" class="border-0 text-uppercase font-medium"> Employee Code </th>
                            <th scope="col" class="border-0 text-uppercase font-medium"> Employee ID </th>
                            <th scope="col" class="border-0 text-uppercase font-medium"> User Name </th>
                            <th scope="col" class="border-0 text-uppercase font-medium"> Job Info </th>
                            <th scope="col" class="border-0 text-uppercase font-medium"> Gender </th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for user in employee_list %} 
                        <tr>
                            <td class="">
                                <div class="d-flex align-items-start">
                                    <img src="{% static 'images/unisex.jpg' %}" class="rounded-circle" width="30">
                                    <div class="ml-2">
                                        <h5 class="font-weight-medium mb-0">
                                            {{user.name|default_if_none:'' }}
                                        </h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="text-muted">{{user.employee_code|default_if_none:'' }}</span>
                            </td>
                            <td>
                                <span class="text-muted">{{user.employee_id|default_if_none:'' }}</span>
                            </td>
                            <td>
                                <span class="text-muted">
                                    {{user.username}}
                                </span>
                            </td>
                            <td>
                                <span class="text-muted">{{user.job|default_if_none:'' }}</span>
                            </td>
                            <td>
                                <span class="text-muted">
                                    {{user.gender|default_if_none:'' }}
                                </span>
                            </td>
                        </tr> 
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    {% if employee_list.paginator.num_pages > 1%}
    <!-- Paginator -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not employee_list.has_previous %} disabled {% endif %}">
                <a class="page-link" href="?page=1{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" tabindex="-1">FIRST</a>
            </li>
            <li class="page-item {% if not employee_list.has_previous %} disabled {% endif %}">
                <a class="page-link" href="{% if employee_list.has_previous %}?page={{ employee_list.previous_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% endif %} " tabindex="-1">&laquo;</a>
            </li> {% if employee_list.number|add:'-4' > 1 %} <li class="page-item disabled">
                <a class="page-link" href="?page={{ employee_list.number|add:'-5' }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&hellip;</a>
            </li> {% endif %} {% for i in employee_list.paginator.page_range %} {% if employee_list.number == i %} <li class="active page-item current ">
                <a class="page-link" href="?page={{ i }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a>
            </li> {% elif i > employee_list.number|add:'-5' and i < employee_list.number|add:'5' %} <li class="page-item">
                <a class="page-link" href="?page={{ i }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a>
                </li> {% endif %} {% endfor %} {% if employee_list.paginator.num_pages > employee_list.number|add:'4' %} <li class="page-item disabled">
                    <a class="page-link" href="?page={{ employee_list.number|add:'5' }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&hellip;</a>
                </li> {% endif %} <li class="page-item {% if not employee_list.has_next %} disabled {% endif %}">
                    <a class="page-link" href="{% if employee_list.has_next %} ?page={{ employee_list.next_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %} {% endif %}">&raquo;</a>
                </li>
                <li class="page-item {% if not employee_list.has_next %} disabled {% endif %}">
                    <a class="page-link" href="{% if employee_list.has_next %} ?page={{ employee_list.paginator.num_pages }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %} {% endif %}">LAST</a>
                </li>
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}