{% load mystery_extras %}
<style>
    .detail_table thead {
        position: sticky;
        top: 0;
        /* background-color: rgb(151 112 112); */
        z-index: 1;
    }

    #table-container {
    position: relative;
    overflow: auto;
    }

    #table-container.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    }

    #table-container.fullscreen table {
    height: 100%;
    width: 100%;
    }

    #myButton {
    position: fixed;
    top: 20px;
    z-index: 5000;
    right: 20px;
    }

    .star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
    /* color: gold; */
    }
    .star:before {
    content: "\2605";
    position: absolute;
    visibility:visible;
    }
    .star:checked:before {
    content: "\2606";
    position: absolute;
    }

    .extra-data-div-hieght {
        height: 90px;
    }

    /* table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
    th, td {
        padding: 10px;
    } */
    
    /* table {
			border-collapse: collapse;
			width: 100%;
	}

    th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid black;
    }

    th {
        background-color: #ddd;
    }

    .hide {
        display: none;
    } */
</style>
<button class="btn btn-danger d-none" id="myButton" onclick="exit_full_screen()"><i class=" fas fa-compress"></i></button>
<div class="row justify-content-end mr-2 p-2">
    <div class="mr-2 p-2">
        {{detail_start_index}} - {{detail_end_index}} of {{detail_total}}
    </div>
    <form action="" method="post"> {% csrf_token %} <input type="hidden" name="mystery_csv">
        <button class="btn btn-success" type="" onclick="this.form.submit(); this.innerHTML = 'Downloading...';"><i class="fas fa-download"></i> CSV</button>
    </form>&nbsp;
    {% if not is_project_owner %}
    <div>
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Columns </button>
            <div class="dropdown-menu p-2" style="font-size: medium;">
                <span class="dropdown-item p-0"><input type="checkbox" id="select-all-checkbox" checked> <label>Select All</label></span>
                <span class="dropdown-item p-0"><input type="checkbox" class="toggle" id="column-1-checkbox" data-col="1" checked> <label>Center</label></span>
                <span class="dropdown-item p-0"><input type="checkbox" class="toggle" id="column-2-checkbox" data-col="2" checked> <label>Audit By</label></span>
                <span class="dropdown-item p-0"><input type="checkbox" class="toggle" id="column-3-checkbox" data-col="3" checked> <label>Audit Time</label></span>
                <span class="dropdown-item p-0"><input type="checkbox" class="toggle" id="column-4-checkbox" data-col="4" checked> <label>Detail</label></span>
                <span class="dropdown-item p-0"><input type="checkbox" class="toggle" id="column-5-checkbox" data-col="5" checked> <label>Checklist</label></span>
                <span class="dropdown-item p-0"><input type="checkbox" class="toggle" id="column-6-checkbox" data-col="6" checked> <label>Person Responsible</label></span>
                <span class="dropdown-item p-0"><input type="checkbox" class="toggle" id="column-7-checkbox" data-col="7" checked> <label> Compliance</label></span>
                <span class="dropdown-item p-0"><input type="checkbox" class="toggle" id="column-8-checkbox" data-col="8" checked> <label>Auditor Remarks</label></span>
                <span class="dropdown-item p-0"><input type="checkbox" class="toggle" id="column-9-checkbox" data-col="9" checked> <label>Audit Status</label></span>
                <span class="dropdown-item p-0"><input type="checkbox" class="toggle" id="column-10-checkbox" data-col="10" checked> <label>Comment for auditor</label></span>
                <span class="dropdown-item p-0"><input type="checkbox" class="toggle" id="column-11-checkbox" data-col="11" checked> <label>Action taken By Outlet Manager</label></span>
                <span class="dropdown-item p-0"><input type="checkbox" class="toggle" id="column-12-checkbox" data-col="12" checked> <label>Status by OM</label></span>
                <span class="dropdown-item p-0"><input type="checkbox" class="toggle" id="column-13-checkbox" data-col="13" checked> <label>Remark by OM</label></span>
                <span class="dropdown-item p-0"><input type="checkbox" class="toggle" id="column-14-checkbox" data-col="14" checked> <label>Action Taken By Management</label></span>
                <span class="dropdown-item p-0"><input type="checkbox" class="toggle" id="column-15-checkbox" data-col="15" checked> <label>Remark By Management</label></span>
                <span class="dropdown-item p-0"><input type="checkbox" class="toggle" id="column-16-checkbox" data-col="16" checked> <label>Expected Dept/Personnel to Intervene</label></span>
                <span class="dropdown-item p-0"><input type="checkbox" class="toggle" id="column-17-checkbox" data-col="17" checked> <label>Remark By Department</label></span>
                <span class="dropdown-item p-0"><input type="checkbox" class="toggle" id="column-18-checkbox" data-col="18" checked> <label>Status By Department</label></span>
            </div>
        </div>
    </div>&nbsp;
    {% endif %}
    <div>
        <button class="btn btn-info" id="expand-btn" onclick="expandTable()"><i class="fas fa-expand"></i></button>
    </div>
</div>
<div class="row p-4">
    <div class="table-responsive" id="table-container" style="height: 100%">
        <div id="top_paginator_div"> 
            {% if detail_page_query.paginator.num_pages > 1 %} 
            <!-- Paginator -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not detail_page_query.has_previous %} disabled {% endif %}">
                        <a class="page-link" href="?page_2=1{% for key, values in request.GET.lists %}{% if key != 'page_2' %}{% for value in values %}&{{ key }}={{ value }}{% endfor %}{% endif %}{% endfor %}" tabindex="-1">FIRST</a>
                    </li>
                    <li class="page-item {% if not detail_page_query.has_previous %} disabled {% endif %}">
                        <a class="page-link" href="{% if detail_page_query.has_previous %}?page_2={{ detail_page_query.previous_page_number }}{% for key, values in request.GET.lists %}{% if key != 'page_2' %}{% for value in values %}&{{ key }}={{ value }}{% endfor %}{% endif %}{% endfor %} {% endif %}" tabindex="-1"> &laquo;</a>
                    </li> {% if detail_page_query.number|add:'-4' > 1 %} <li class="page-item disabled">
                        <a class="page-link" href="?page_2={{ detail_page_query.number|add:'-5' }}{% for key, values in request.GET.lists %}{% if key != 'page_2' %}{% for value in values %}&{{ key }}={{ value }}{% endfor %}{% endif %}{% endfor %}">&hellip;</a>
                    </li> {% endif %} {% for i in detail_page_query.paginator.page_range %} {% if detail_page_query.number == i %} <li class="active page-item current">
                        <a class="page-link" href="?page_2={{ i }}{% for key, values in request.GET.lists %}{% if key != 'page_2' %}{% for value in values %}&{{ key }}={{ value }}{% endfor %}{% endif %}{% endfor %}">{{ i }}</a>
                    </li> {% elif i > detail_page_query.number|add:'-5' and i < detail_page_query.number|add:'5' %} <li class="page-item">
                        <a class="page-link" href="?page_2={{ i }}{% for key, values in request.GET.lists %}{% if key != 'page_2' %}{% for value in values %}&{{ key }}={{ value }}{% endfor %}{% endif %}{% endfor %}">{{ i }}</a>
                        </li> {% endif %} {% endfor %} {% if detail_page_query.paginator.num_pages > detail_page_query.number|add:'4' %} <li class="page-item disabled">
                            <a class="page-link" href="?page_2={{ detail_page_query.number|add:'5' }}{% for key, values in request.GET.lists %}{% if key != 'page_2' %}{% for value in values %}&{{ key }}={{ value }}{% endfor %}{% endif %}{% endfor %}">&hellip;</a>
                        </li> {% endif %} <li class="page-item {% if not detail_page_query.has_next %} disabled {% endif %}">
                            <a class="page-link" href="{% if detail_page_query.has_next %} ?page_2={{ detail_page_query.next_page_number }}{% for key, values in request.GET.lists %}{% if key != 'page_2' %}{% for value in values %}&{{ key }}={{ value }}{% endfor %}{% endif %}{% endfor %} {% endif %}">&raquo;</a>
                        </li>
                        <li class="page-item {% if not detail_page_query.has_next %} disabled {% endif %}">
                            <a class="page-link" href="{% if detail_page_query.has_next %} ?page_2={{ detail_page_query.paginator.num_pages }}{% for key, values in request.GET.lists %}{% if key != 'page_2' %}{% for value in values %}&{{ key }}={{ value }}{% endfor %}{% endif %}{% endfor %} {% endif %}">LAST</a>
                        </li>
                </ul>
            </nav> 
            {% endif %}
        </div>
        <table id="myTable" class="table detail_table table-striped" style="background-color: white;">
            <thead style="background-color: white;">
                <tr>
                    <th id="col1" style="min-width: 150px"> Center </th>
                    {% if not is_project_owner %}
                    <th id="col2" style="min-width: 150px"> Audit By </th>
                    <th id="col3" style="min-width: 150px"> Audit Time </th>
                    {% endif %}
                    <th id="col4" style="min-width: 150px"> Detail </th>
                    <th id="col5" style="min-width: 250px"> Checklist </th>
                    <th id="col6" style="min-width: 250px">Person Responsible</th>
                    <th id="col7" style="min-width: 150px">Compliance</th>
                    <th id="col8" style="min-width: 200px"> Auditor Remarks </th>
                    <!-- <th style="min-width: 100px"> Status</th> -->
                    {% if not is_project_owner %}
                    <th id="col9" style="min-width: 200px;">Audit Status</th>
                    <th id="col10" style="min-width: 200px;">Comment for auditor</th>
                    {% endif %}
                    <th id="col11" style="min-width: 200px;">Action taken By Outlet Manager</th>
                    <th id="col12" style="min-width: 200px;">Status by OM</th>
                    <th id="col13" style="min-width: 200px;">Remark by OM</th>
                    {% if not is_project_owner %}
                    <th id="col14" style="min-width: 200px;">Action Taken By Management</th>
                    <th id="col15" style="min-width: 200px;">Remark By Management</th>
                    <th id="col16" style="min-width: 200px;">Expected Dept/Personnel to Intervene</th>
                    <th id="col17" style="min-width: 200px;">Remark By Department</th>
                    <th id="col18" style="min-width: 200px;">Status By Department</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody> 
                {% for each_detail in all_mystery_detail %} 
                <tr>
                    <td class="col1" style="white-space: normal;">
                        <span class="text-muted">
                            <span>{{each_detail.mystery_shopping.center|default_if_none:'' }}</span> <br>
                            {{each_detail.mystery_shopping.month_of_audit|default_if_none:'' }} 
                        </span>
                    </td>
                    {% if not is_project_owner %}
                    <td class="col2" style="white-space: normal;">
                        <span class="text-muted"> 
                            {{each_detail.mystery_shopping.shopper_name|default_if_none:''}} 
                        </span>
                    </td>
                    <td class="col3" style="white-space: normal;">
                        <span class="text-muted">
                            {{each_detail.mystery_shopping.date}} <br>
                            {{each_detail.mystery_shopping.start_time}} - {{each_detail.mystery_shopping.end_time}}
                        </span>
                    </td>
                    {% endif %}
                    <td class="col4" style="white-space: normal;">
                        <span class="text-muted">
                            {{each_detail.client_journey|default_if_none:'' }} - {{each_detail.kra|default_if_none:'' }} <br>
                            {{each_detail.process|default_if_none:'' }} <br>
                            {% if each_detail.mystery_shopping.service_number == '1' %}
                                <span class="badge badge-info">{{each_detail.mystery_shopping.service_availed_1|default_if_none:''}}</span>
                            {% elif each_detail.mystery_shopping.service_number == '2' %}
                                <span class="badge badge-info">{{each_detail.mystery_shopping.service_availed_2|default_if_none:''}}</span>
                            {% elif each_detail.mystery_shopping.service_number == '3' %}
                                <span class="badge badge-info">{{each_detail.mystery_shopping.service_availed_3|default_if_none:''}}</span>
                            {% else %}
                                <span class="badge badge-info">{{each_detail.mystery_shopping.service_availed_1|default_if_none:''}}</span> 
                                {% if each_detail.mystery_shopping.service_availed_2 %} <br> {% endif %}
                                <span class="badge badge-info">{{each_detail.mystery_shopping.service_availed_2|default_if_none:''}}</span> 
                                {% if each_detail.mystery_shopping.service_availed_3 %} <br> {% endif %}
                                <span class="badge badge-info">{{each_detail.mystery_shopping.service_availed_3|default_if_none:''}}</span>
                            {% endif %}
                        </span>
                    </td>
                    <td class="col5" style="white-space: normal;">
                        <i class="{% if each_detail.is_important %} fas {% else %} far {% endif %} fa-star text-info" id="important_checklist_{{each_detail.id}}" onclick="mark_checklist_important('{{each_detail.id}}')"></i>
                        <span class="text-muted" style="white-space: pre-wrap;"><b>{{each_detail.mystery_shopping.id}} - {{each_detail.sequence}}</b><br>{{each_detail.checklist|default_if_none:'' }}</span>
                    </td>
                    <td class="col6" style="white-space: normal;">
                        {% for each_user_response in all_user_responsible %}
                        {% if each_user_response.mystery_checklist.id == each_detail.id %}
                        <div class="row extra-data-div-hieght">
                            <div class="col-8">
                                <select disabled class="form-control" id="kra_dropdown__{{each_user_response.id}}" onchange="change_user_as_per_kra({ 'id':'{{each_user_response.id}}', 'value': this.value },'{{each_user_response.mystery_checklist.mystery_shopping.center.id}}', '{{each_user_response.id}}');">
                                    <option value=""></option>
                                    {% for each_kra in each_user_response.mystery_checklist.kra|split:"," %}
                                    <option {% if each_user_response.kra == each_kra %} selected {% endif %} value="{{each_kra}}">{{each_kra}}</option>
                                    {% endfor %}
                                </select>
                                <select disabled class="form-control mt-1" id="person_responsible_dropdown__{{each_user_response.id}}">
                                    <option value=""></option>
                                    <option selected value="{{each_user_response.staff.id}}">{{each_user_response.staff.user.first_name|default_if_none:'' }} {{each_user_response.staff.user.last_name|default_if_none:'' }}</option>
                                </select>
                            </div>
                            <div class="col-4">
                                {% if not each_user_response.compliance == 'NA' %}
                                    <button class="btn btn-link responsible_person_edit_btn" id="make_editable_person_responsible_btn__{{each_user_response.id}}" onclick="make_user_response_editable_in_atr_page('{{each_user_response.id}}','{{each_user_response.mystery_checklist.mystery_shopping.center.id}}')"><i class="fas fa-edit"></i></button>
                                    <button class="btn btn-link d-none" name="person_responsible" id="save_person_responsible_btn__{{each_user_response.id}}" onclick="save_and_disable_user_responsible_and_kra('{{each_user_response.id}}' )"><i class="fas fa-check"></i></button>
                                    <button id="append_all_user_list_button__{{each_user_response.id}}" class="btn btn-link d-none fixed-bottom" onclick="append_all_user_list_to_dropdown('{{each_user_response.id}}')"><i class="fas fa-users"></i></button>
                                {% endif %}
                            </div>
                        </div>
                        {% if not forloop.last %}<hr>{% endif %} 
                        {% endif %}
                        {% endfor %}
                            


                        <!-- <table class="">
                            <tbody>
                                {% for each_user_response in all_user_responsible %}
                                {% if each_user_response.mystery_checklist.id == each_detail.id %}
                                <tr>
                                    <td style="width: 80%; white-space: normal;">
                                        <select disabled class="form-control" id="kra_dropdown__{{each_user_response.id}}" onchange="change_user_as_per_kra({ 'id':'{{each_user_response.id}}', 'value': this.value },'{{each_user_response.mystery_checklist.mystery_shopping.center.id}}', '{{each_user_response.id}}');">
                                            <option value=""></option>
                                            {% for each_kra in each_user_response.mystery_checklist.kra|split:"," %}
                                            <option {% if each_user_response.kra == each_kra %} selected {% endif %} value="{{each_kra}}">{{each_kra}}</option>
                                            {% endfor %}
                                        </select>
                                        <select disabled class="form-control mt-1" id="person_responsible_dropdown__{{each_user_response.id}}">
                                            <option value=""></option>
                                            <option selected value="{{each_user_response.staff.id}}">{{each_user_response.staff.user.first_name|default_if_none:'' }} {{each_user_response.staff.user.last_name|default_if_none:'' }}</option>
                                        </select>
                                    </td>
                                    <td style="white-space: normal;">
                                        {% if not each_user_response.compliance == 'NA' %}
                                            <button class="btn btn-link responsible_person_edit_btn" id="make_editable_person_responsible_btn__{{each_user_response.id}}" onclick="make_user_response_editable_in_atr_page('{{each_user_response.id}}','{{each_user_response.mystery_checklist.mystery_shopping.center.id}}')"><i class="fas fa-edit"></i></button>
                                            <button class="btn btn-link d-none" name="person_responsible" id="save_person_responsible_btn__{{each_user_response.id}}" onclick="save_and_disable_user_responsible_and_kra('{{each_user_response.id}}' )"><i class="fas fa-check"></i></button>
                                            <button id="append_all_user_list_button__{{each_user_response.id}}" class="btn btn-link d-none fixed-bottom" onclick="append_all_user_list_to_dropdown('{{each_user_response.id}}')"><i class="fas fa-users"></i></button>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table> -->
                    </td>
                    <td class="col7" style="white-space: normal;">
                        {% for each_user_response in all_user_responsible %} 
                        {% if each_user_response.mystery_checklist.id == each_detail.id %}
                        <div class="extra-data-div-hieght">
                            <select class="form-control p-0 compliance_input" name="atr_complience" id="complience_{{each_user_response.id}}" onchange="edit_extra_mystery_data(this, '{{each_user_response.id}}')">
                                <option value="">Select</option> 
                                {% for compliance in each_user_response.mystery_checklist.compliance_dropdown|split:"," %} 
                                <option {% if each_user_response.compliance == compliance %} selected {% endif %} value="{{compliance}}">{{compliance}}</option> 
                                {% endfor %}
                            </select> 
                            <h4>
                                <span id="ms_compliance_category_{{each_user_response.id}}" class=" badge mt-2 
                                {% if each_user_response.compliance_category_percentage == '100' %} badge-success 
                                {% elif each_user_response.compliance_category_percentage == '50' %} badge-warning 
                                {% elif each_user_response.compliance_category_percentage == '0' %} badge-danger 
                                {% else %} badge-primary 
                                {% endif %} ">
                                    {% if each_user_response.compliance_category %}
                                    {{each_user_response.compliance_category|default_if_none:'' }} 
                                    {% endif %} {% if each_user_response.compliance_category_percentage %} - {{each_user_response.compliance_category_percentage|default_if_none:''}}% {% endif %}</span>
                            </h4>
                        </div>
                        {% if not forloop.last %}<hr>{% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td class="col8" style="white-space: normal;">
                        {% for each_user_response in all_user_responsible %} 
                        {% if each_user_response.mystery_checklist.id == each_detail.id %}
                        <div class="extra-data-div-hieght">
                            <span class="text-muted">
                                <textarea class="form-control remark_input" name="user_remark" id="remark_{{each_user_response.id}}" rows="3" onchange="edit_extra_mystery_data(this, '{{each_user_response.id}}')" {% if each_user_response.compliance == 'NA' %} disabled {% endif %}>{{each_user_response.remark|default_if_none:'' }}</textarea>
                            </span>
                        </div>
                        {% if not forloop.last %}<hr>{% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% if not is_project_owner %}
                    <td class="col9">
                        {% for each_user_response in all_user_responsible %} 
                        {% if each_user_response.mystery_checklist.id == each_detail.id %}
                        <div class="extra-data-div-hieght">
                            <select class="form-control action_status_input" name="action_status" id="action_status_{{each_user_response.id}}" onchange="edit_extra_mystery_data(this, '{{each_user_response.id}}')">
                                <!-- <option value=""></option> -->
                                <option {% if each_user_response.action_status == 'Action Taken' %} selected {% endif %} value="Action Taken">Action Taken</option>
                                <option {% if each_user_response.action_status == 'Action Required' %} selected {% endif %} value="Action Required">Action Required</option>
                            </select>
                        </div>
                        {% if not forloop.last %}<hr>{% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td class="col10">
                        {% for each_user_response in all_user_responsible %} 
                        {% if each_user_response.mystery_checklist.id == each_detail.id %}
                        <div class="extra-data-div-hieght">
                            <textarea class="form-control auditor_comment_input" type="text" name="comment_auditor" id="comment_auditor_{{each_user_response.id}}" rows="3" onchange="edit_extra_mystery_data(this, '{{each_user_response.id}}')">{{each_user_response.comment_for_auditor|default_if_none:''}}</textarea>
                        </div>
                        {% if not forloop.last %}<hr>{% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endif %}
                    <td class="col11">
                        {% for each_user_response in all_user_responsible %} 
                        {% if each_user_response.mystery_checklist.id == each_detail.id %}
                        <div class="extra-data-div-hieght">
                        {% if each_user_response.compliance_category_percentage|add:'0' >= 0 and each_user_response.compliance_category_percentage|add:'0' < 100 %}
                            <select class="form-control action_taken_by_om_input {% if not each_user_response.action_taken_by_outlet_manager %}  bg-danger text-white  {% endif %}" name="action_outlet" id="action_outlet_{{each_user_response.id}}" onchange="edit_extra_mystery_data(this, '{{each_user_response.id}}')">
                                <option value="">Select</option>
                                <option {% if each_user_response.action_taken_by_outlet_manager == 'Resource shortage' %} selected {% endif %} value="Resource shortage">Resource shortage</option>
                                <option {% if each_user_response.action_taken_by_outlet_manager == 'Facility issue' %} selected {% endif %} value="Facility issue">Facility issue</option>
                                <option {% if each_user_response.action_taken_by_outlet_manager == 'Verbal Warning' %} selected {% endif %} value="Verbal Warning">Verbal Warning</option>
                                <option {% if each_user_response.action_taken_by_outlet_manager == 'Education' %} selected {% endif %} value="Education">Education</option>
                                <option {% if each_user_response.action_taken_by_outlet_manager == 'PIP Connect' %} selected {% endif %} value="PIP Connect">PIP Connect</option>
                            </select>
                        {% endif %}
                        </div>
                        {% if not forloop.last %}<hr>{% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td class="col12">
                        {% for each_user_response in all_user_responsible %} 
                        {% if each_user_response.mystery_checklist.id == each_detail.id %}
                        <div class="extra-data-div-hieght">
                        {% if each_user_response.compliance_category_percentage|add:'0' >= 0 and each_user_response.compliance_category_percentage|add:'0' < 100 %}
                            <select class="form-control status_by_om_input {% if not each_user_response.status_by_om %}  bg-danger text-white  {% endif %}" name="status_om" id="status_om_{{each_user_response.id}}" onchange="edit_extra_mystery_data(this, '{{each_user_response.id}}')">
                                <option value="">Select</option>
                                <option {% if each_user_response.status_by_om == 'Open' %} selected {% endif %} value="Open">Open</option>
                                <option {% if each_user_response.status_by_om == 'Closed' %} selected {% endif %} value="Closed">Closed</option>
                            </select>
                        {% endif %}
                        </div>
                        {% if not forloop.last %}<hr>{% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td class="col13">
                        {% for each_user_response in all_user_responsible %} 
                        {% if each_user_response.mystery_checklist.id == each_detail.id %}
                        <div class="extra-data-div-hieght">
                        {% if each_user_response.compliance_category_percentage|add:'0' >= 0 and each_user_response.compliance_category_percentage|add:'0' < 100 %}
                            <textarea class="form-control remark_by_om_input {% if not each_user_response.remark_by_om %}  bg-danger text-white  {% endif %}" name="remark_om" id="remark_om_{{each_user_response.id}}" rows="3" onchange="edit_extra_mystery_data(this, '{{each_user_response.id}}')" >{{each_user_response.remark_by_om|default_if_none:''}}</textarea>
                        {% endif %}
                        </div>
                        {% if not forloop.last %}<hr>{% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% if not is_project_owner %}
                    <td class="col14">
                        {% for each_user_response in all_user_responsible %} 
                        {% if each_user_response.mystery_checklist.id == each_detail.id %}
                        <div class="extra-data-div-hieght">
                            <select class="form-control action_taken_by_management_input" name="action_management" id="action_management_{{each_user_response.id}}" onchange="edit_extra_mystery_data(this, '{{each_user_response.id}}')">
                                <option value="">Select</option>
                                <option {% if each_user_response.action_taken_by_management == 'Verbal Warning' %} selected {% endif %} value="Verbal Warning"> Verbal Warning </option>
                                <option {% if each_user_response.action_taken_by_management == 'Warning Letter' %} selected {% endif %} value="Warning Letter"> Warning Letter </option>
                                <option {% if each_user_response.action_taken_by_management == 'Process Improvement' %} selected {% endif %} value="Process Improvement">Process Improvement</option>
                                <option {% if each_user_response.action_taken_by_management == 'Non compliance-Incentive deduction' %} selected {% endif %} value="Non compliance-Incentive deduction">Non compliance-Incentive deduction</option>
                                <option {% if each_user_response.action_taken_by_management == 'PIP Connect' %} selected {% endif %} value="PIP Connect">PIP Connect</option>
                                <option {% if each_user_response.action_taken_by_management == 'Education' %} selected {% endif %} value="Education">Education</option>
                            </select>
                        </div>
                        {% if not forloop.last %}<hr>{% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td class="col15">
                        {% for each_user_response in all_user_responsible %} 
                        {% if each_user_response.mystery_checklist.id == each_detail.id %}
                        <div class="extra-data-div-hieght">
                            <textarea class="form-control remark_management_input" name="remark_management" id="remark_management_{{each_user_response.id}}" onchange="edit_extra_mystery_data(this, '{{each_user_response.id}}')" rows="3">{{each_user_response.remark_by_management|default_if_none:''}}</textarea>
                        </div>
                        {% if not forloop.last %}<hr>{% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td class="col16">
                        {% for each_user_response in all_user_responsible %} 
                        {% if each_user_response.mystery_checklist.id == each_detail.id %}
                        <div class="extra-data-div-hieght">
                            <select class="form-control expected_intervene_input" name="expected_intervene" id="expected_intervene_{{each_user_response.id}}" onchange="edit_extra_mystery_data(this, '{{each_user_response.id}}')">
                                <option value="">Select</option>
                                <option {% if each_user_response.expected_dept_intervene == 'OM' %} selected {% endif %}
                                value="OM">OM</option>
                                <option {% if each_user_response.expected_dept_intervene == 'POC' %} selected {% endif %}
                                value="POC">POC</option>
                                <option {% if each_user_response.expected_dept_intervene == 'TAM' %} selected {% endif %}
                                value="TAM">TAM</option>
                                <option {% if each_user_response.expected_dept_intervene == 'SLD-Salon' %} selected {% endif %}
                                value="SLD-Salon">SLD-Salon</option>
                                <option {% if each_user_response.expected_dept_intervene == 'SLD-Skin' %} selected {% endif %} 
                                value="SLD-Skin">SLD-Skin</option>
                                <option {% if each_user_response.expected_dept_intervene == 'Management' %} selected {% endif %} value="Management">Management</option>
                                <option {% if each_user_response.expected_dept_intervene == 'Procurement' %} selected {% endif %} value="Procurement">Procurement</option>
                                <option {% if each_user_response.expected_dept_intervene == 'Facility Management' %} selected {% endif %} value="Facility Management">Facility Management</option>
                                <option {% if each_user_response.expected_dept_intervene == 'Marketing' %} selected {% endif %} value="Marketing">Marketing</option>
                                <option {% if each_user_response.expected_dept_intervene == 'Finance & Accounts' %} selected {% endif %} value="Finance & Accounts">Finance & Accounts</option>
                                <option {% if each_user_response.expected_dept_intervene == 'CRM' %} selected {% endif %} value="CRM">
                                    CRM</option>
                            </select>
                        </div>
                        {% if not forloop.last %}<hr>{% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td class="col17">
                        {% for each_user_response in all_user_responsible %} 
                        {% if each_user_response.mystery_checklist.id == each_detail.id %}
                        <div class="extra-data-div-hieght">
                            <textarea class="form-control remark_department_input" name="remark_department" id="remark_department_{{each_user_response.id}}" onchange="edit_extra_mystery_data(this, '{{each_user_response.id}}')" rows="3">{{each_user_response.remark_by_department|default_if_none:''}}</textarea>
                        </div>
                        {% if not forloop.last %}<hr>{% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td class="col18">
                        {% for each_user_response in all_user_responsible %} 
                        {% if each_user_response.mystery_checklist.id == each_detail.id %}
                        <div class="extra-data-div-hieght">
                            <select class="form-control status_department_input" name="status_department" id="status_department_{{each_user_response.id}}" onchange="edit_extra_mystery_data(this, '{{each_user_response.id}}')">
                                <option value="">Select</option>
                                <option {% if each_user_response.status_by_department == 'Open' %} selected {% endif %} 
                                value="Open">Open</option>
                                <option {% if each_user_response.status_by_department == 'Closed' %} selected {% endif %}
                                value="Closed">Closed</option>
                            </select>
                        </div>
                        {% if not forloop.last %}<hr>{% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endif %}
                </tr> 
                {% endfor %}
            </tbody>
        </table>

        <div id="bottom_paginator_div"> 
            <!-- handled by js  -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var class_list = ['responsible_person_edit_btn', 'compliance_input', 'remark_input', 'action_status_input', 'auditor_comment_input', 'action_taken_by_management_input', 'remark_management_input', 'expected_intervene_input', 'remark_department_input', 'status_department_input'];
        var is_project_owner = '{{ is_project_owner }}';
        // console.log('user', is_project_owner);
        if (is_project_owner == 'True') {
            // console.log('yes')
            disable_input_elements(class_list)
        }

        var top_paginator = document.getElementById('top_paginator_div').innerHTML;
        document.getElementById('bottom_paginator_div').innerHTML = top_paginator;
        
        all_employee_list = {{ all_employee_list|safe }};
    });
    var all_employee_list = [];
</script>

{% if not is_project_owner %}  
<script>
    // const selectAllCheckbox = document.getElementById("select-all-checkbox");
    // const checkboxes = document.querySelectorAll('.toggle');

    //     selectAllCheckbox.addEventListener('change', (event) => {
    //         checkboxes.forEach((checkbox) => {
    //             checkbox.checked = event.target.checked;
    //         });
    //     });
    // Get the saved state of the columns from localStorage
    let colState = JSON.parse(localStorage.getItem('colState')) || [true, true, true];

    // Apply the saved state to the table columns
    var myTable = document.getElementById('myTable');
    let toggleCheckboxes = document.querySelectorAll('.toggle');
    toggleCheckboxes.forEach(function (checkbox, index) {
        checkbox.checked = colState[index];
        let colIndex = checkbox.dataset.col;
        myTable.querySelectorAll('tr > *:nth-child(' + colIndex + ')').forEach(function (cell) {
            cell.style.display = colState[index] ? '' : 'none';
        });
    });

    // Save the state of the columns to localStorage when checkboxes are clicked
    toggleCheckboxes.forEach(function (checkbox, index) {
        checkbox.addEventListener('click', function () {
            colState[index] = this.checked;
            localStorage.setItem('colState', JSON.stringify(colState));
            let colIndex = this.dataset.col;
            myTable.querySelectorAll('tr > *:nth-child(' + colIndex + ')').forEach(function (cell) {
                cell.style.display = colState[index] ? '' : 'none';
            });
        });
    });
</script>
{% endif %}

<script>

    let mainCheckbox = document.getElementById('select-all-checkbox');
    // let toggleCheckboxes = document.querySelectorAll('.toggle');

        // Add an event listener to the main checkbox
        mainCheckbox.addEventListener('click', function () {
            // Loop through all toggle checkboxes and set their checked property
            toggleCheckboxes.forEach(function (checkbox) {
                checkbox.checked = !mainCheckbox.checked;
                // Trigger the click event on each toggle checkbox
                checkbox.click();
            });
        });
    
    function expandTable() {
        const tableContainer = document.getElementById('table-container');
        tableContainer.classList.add('fullscreen');
        var exit_btn = document.getElementById('myButton');
        exit_btn.classList.remove('d-none');
        // sessionStorage.setItem('fullscreen', 'true');
        localStorage.setItem('isTableFullscreen', true);
    }

    function exit_full_screen(){
         const tableContainer = document.getElementById('table-container');
        tableContainer.classList.remove('fullscreen');
        var exit_btn = document.getElementById('myButton');
        exit_btn.classList.add('d-none');
        // sessionStorage.removeItem('fullscreen');
        localStorage.removeItem('isTableFullscreen');

    }

    window.onload = function () {
            const isTableFullscreen = localStorage.getItem('isTableFullscreen');
            if (isTableFullscreen) {
                expandTable();
            }
    };

    function mark_checklist_important(mysteryId){
        $('#cover-spin').show(0);
        fetch("/mark_important_chcklist/", {
            method: "POST",
            body: JSON.stringify({
                'data_obj': mysteryId,
            }),
            // Adding headers to the request
            headers: {
                "Content-type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
        })
        .then((response) => {
            // console.log(response);
            if (response.redirected) {
                window.location.href = response.url;
                return;
            }
            return response.json();
        })
        .then((data) => {
            // console.log("Success: ", data);
            if (data.msg == 'success') {
                $('#cover-spin').hide(0);

                var starIcon = document.getElementById("important_checklist_" + mysteryId);

                if (starIcon.classList.contains("far")) {
                    // If the star is checked, remove the "checked" class and perform additional actions
                    starIcon.classList.remove("far");
                    starIcon.classList.add("fas");
                    // console.log('2')
                    // Perform actions for unchecked state
                } else {
                    // If the star is unchecked, add the "checked" class and perform additional actions
                    starIcon.classList.remove("fas");
                    starIcon.classList.add("far");
                    // console.log('3')
                }
                
            }
            else {
                $('#cover-spin').hide(0);
                alert('Something went wrong, Please try again after refreshing the page')
            }
        });
    }

    function edit_extra_mystery_data(t, atr_id) {
        $('#cover-spin').show(0);
        var got_value = '';
        if(t.name == 'person_responsible'){
            got_value = document.getElementById('person_responsible_dropdown_' +atr_id).value;
        }else{
            got_value = t.value;
        }
        var checklist_id = atr_id;
        var value_name = t.name;
        var final_list = [];
        try{
            if(value_name == 'atr_complience'){
                if(got_value == 'NA'){
                    console.log('0')
                    document.getElementById('user_resp_div_'+atr_id).disabled = true;
                    console.log('1')
                    // document.getElementById('complience_'+atr_id).style.display = 'none';
                    console.log('2')
                    document.getElementById('remark_'+atr_id).disabled = true;
                    console.log('3')
                }else{
                    document.getElementById('user_resp_div_' + atr_id).disabled = false;
                    // document.getElementById('complience_' + atr_id).style.display = 'block';
                    document.getElementById('remark_' + atr_id).disabled = false;
                }
            }
        }catch(e){}

        try {
            mystery_query = {
                "mystery_id": checklist_id,
                "mystery_value": got_value,
                "name" : value_name
            }
            if (mystery_query.mystery_id.length > 0) {
                // console.log('id', scheduler_query.from_dt, scheduler_query.to_dt, scheduler_query.center);
                final_list.push(mystery_query);
            } else { 
                $('#cover-spin').hide(0);
                alert('Something Went Wrong, please try again after refreshing the page'); 
            }

        } catch (e) { }
        // console.log(final_list)
        fetch("/edit_mystery_extra_data/", {
            method: "POST",
            body: JSON.stringify({
                'data_obj': final_list,
            }),
            // Adding headers to the request
            headers: {
                "Content-type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
        })
            .then((response) => {
                // console.log(response);
                if (response.redirected) {
                    window.location.href = response.url;
                    return;
                }
                return response.json();
            })
            .then((data) => {
                var mystery_data = data.mystery_json
                var final_data = mystery_data[0]['fields'];
                var selected_user = data.staff_name
                // console.log("Success: ", data);
                if (data.msg == 'success') {
                    $('#cover-spin').hide(0);
                    if(t.value){
                        t.classList.remove('bg-danger', 'text-white');
                    }else{
                        t.classList.add('bg-danger', 'text-white');
                    }

                    if(value_name == 'user_responsible'){
                        document.getElementById('emp-text_'+atr_id).innerHTML = $(`#${t.id} option:selected`).text();
                    }

                    if (value_name == 'atr_complience') {
                        document.getElementById('ms_compliance_category_'+atr_id).innerHTML = final_data['compliance_category']+ " - " +  final_data['compliance_category_percentage']
                    }

                    if (t.name == 'person_responsible') {
                        var EditBtn = document.getElementById("edit_person_responsible_btn_" + atr_id);
                        var saveBtn = document.getElementById("save_person_responsible_btn_" + atr_id);
                        try {
                            $('#person_responsible_dropdown_' + atr_id).multiselect('destroy');
                        } catch (e) { }
                        var dropdownId = document.getElementById('person_responsible_dropdown_' + atr_id);
                        EditBtn.classList.remove("d-none");
                        saveBtn.classList.add("d-none");
                        var html_1 = `<span id="person_responsible_dropdown_${atr_id}">${selected_user}</span>`;
                        dropdownId.outerHTML = html_1;
                    }

                    // if(value_name == 'status_department'){
                    //     document.getElementById('department_'+checklist_id).innerHTML = got_value;
                    // }
                    // if (value_name == 'status_om'){
                    //     document.getElementById('om_'+checklist_id).innerHTML = got_value;
                    // }
                    // if (value_name == 'audit_status'){
                    //     document.getElementById('status_audit_'+checklist_id).innerHTML = got_value;
                    // }
                }
                else {
                    $('#cover-spin').hide(0);
                    alert('Something went wrong, Please try again after refreshing the page')
                }
            });
    }
    
    function make_user_response_editable_in_atr_page(user_responsible_row_id, center_id){
        var editBtn = document.getElementById('make_editable_person_responsible_btn__'+ user_responsible_row_id);
        var allUserBtn = document.getElementById('append_all_user_list_button__'+user_responsible_row_id);
        var saveBtn = document.getElementById('save_person_responsible_btn__'+user_responsible_row_id);
        editBtn.classList.add('d-none');
        allUserBtn.classList.remove('d-none');
        saveBtn.classList.remove('d-none');
        var user_responsible_dropdown = document.getElementById('person_responsible_dropdown__'+ user_responsible_row_id);
        var selected_user = user_responsible_dropdown.value;
        var kra_dropdown = document.getElementById('kra_dropdown__'+ user_responsible_row_id);
        var selected_kra = kra_dropdown.value;
        change_user_as_per_kra({ 'id': user_responsible_row_id, 'value': selected_kra }, center_id, selected_user );
        disable_and_enable_fields(user_responsible_row_id, false);
    }

    function disable_and_enable_fields(t, status) {
        try {
            document.getElementById('kra_dropdown__' + t).disabled = status;
            document.getElementById('person_responsible_dropdown__' + t).disabled = status;
        } catch (e) { }
    }

    function change_user_as_per_kra(t, center_id, selected_value = '') {
        var center_id_int = parseInt(center_id.toString().trim());
        var selected_kra = t.value;
        var kra_id = t.id;
        var user_responsible_dropdown = document.getElementById('person_responsible_dropdown__' + kra_id);
        user_responsible_dropdown.length = 0;
        var filtered_user = all_employee_list.filter(function (dr) {
            return dr[3].indexOf(center_id_int) != -1 && dr[2].indexOf(selected_kra) != -1;
        });
        var selected_user_from_list = all_employee_list.filter(function (dr) {
            return dr[0].toString().trim() === selected_value;
        })
        if (selected_user_from_list && selected_user_from_list.length > 0) {
            var selectedOption = document.createElement("option");
            selectedOption.value = selected_user_from_list[0][0];
            selectedOption.text = selected_user_from_list[0][1]; // You can set this to the appropriate text if needed
            selectedOption.selected = true;
            user_responsible_dropdown.appendChild(selectedOption);
        }

        for (var i = 0; i < filtered_user.length; i++) {
            if (filtered_user[i][0].toString().trim() !== selected_value) {
                var option = document.createElement("option");
                option.value = filtered_user[i][0].toString().trim(); // Set the value attribute
                option.text = filtered_user[i][1].toString().trim();  // Set the text displayed in the option
                user_responsible_dropdown.appendChild(option);
            }
            // Append the option to the select element
        }
        // console.log('filter', filtered_user)

    }

    function save_and_disable_user_responsible_and_kra(user_resp_row_id) {
        var editBtn = document.getElementById('make_editable_person_responsible_btn__' + user_resp_row_id);
        var allUserBtn = document.getElementById('append_all_user_list_button__' + user_resp_row_id);
        var saveBtn = document.getElementById('save_person_responsible_btn__' + user_resp_row_id);
        var user_responsible_dropdown = document.getElementById('person_responsible_dropdown__' + user_resp_row_id);
        var selected_user = user_responsible_dropdown.value;
        var get_kra = document.getElementById('kra_dropdown__' + user_resp_row_id).value;

        if (get_kra.length == 0) {
            alert('Please select KRA');
            return;
        }
        if (selected_user.length == 0) {
            alert('Please select User');
            return;
        }
        
        $('#cover-spin').show(0);
        var response = {
            'user_resp_row_id': user_resp_row_id,
            'selected_user': selected_user,
            'get_kra': get_kra
        }


        fetch("/save_user_responsible_and_kra_in_atrPage/", {
            method: "POST",
            body: JSON.stringify(response),
            // Adding headers to the request
            headers: {
                "Content-type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
        })
            .then((response) => {
                // console.log(response);
                if (response.redirected) {
                    window.location.href = response.url;
                    return;
                }
                return response.json();
            })
            .then((data) => {
                if (data.msg == 'success') {
                    for (var i = user_responsible_dropdown.options.length - 1; i >= 0; i--) {
                        if (user_responsible_dropdown.options[i].value !== selected_user) {
                            user_responsible_dropdown.remove(i);
                        }
                    }
                    editBtn.classList.remove('d-none');
                    allUserBtn.classList.add('d-none');
                    saveBtn.classList.add('d-none');
                    disable_and_enable_fields(user_resp_row_id, true);
                    $('#cover-spin').hide(0);
                }
                else {
                    $('#cover-spin').hide(0);
                    alert('Something went wrong, Please try again after refreshing the page')
                }
            });
    }


</script>