<div class="">
    {% if not mystery_shopping.auditor_action_reviewed %}
    <div class="row justify-content-end mr-2">
        <button class="btn btn-warning text-white" data-toggle="modal" data-target="#add_img_modal"><i class="fas fa-plus"></i> Add New Image</button>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="card p-2">
                <!-- <div class="card-body">
                    <h5 class="card-title text-uppercase mb-0">Manage Users</h5>
                </div> -->
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-bold" style="width: 45%;"> Description </th>
                                <th scope="col" class="border-0 text-bold" style="width: 45%;"> Preview </th>
                                <th scope="col" class="border-0 text-bold" style="width: 10%;"> Action </th>
                            </tr>
                        </thead>
                        <tbody> 
                            {% for image in all_images_list %} 
                            <tr>
                                <td style="white-space: normal;">
                                    <span class="text-muted" id="img-text-section_{{image.id}}">
                                        <i class="fas fa-pencil-alt" id="image-input-show-hide-btn_{{image.id}}" onclick="open_img_description_input(this)"></i>
                                        <span id="img_description_{{image.id}}">{{image.description|default_if_none:'' }}</span><br>
                                    </span>
                                    {{image.image.name}}
                                    <span id="img-edit-box-section_{{image.id}}" class="d-none">
                                        <textarea class="form-control" id="image-edit-desc-input_{{image.id}}" rows="2">{{image.description|default_if_none:''}}</textarea><br>
                                        <input type="file" name="" id="image-edit-file_{{image.id}}">
                                        <button class="btn-sx btn-success float-right" id="image-edit-desc-btn_{{image.id}}" onclick="edit_img_description(this)">
                                            Save </button>
                                    </span>
                                </td>
                                <td>
                                    <a href="{{image.image.url}}" target="_blank"> 
                                        {% if '.png' in image.image.name or '.jpeg' in image.image.name or '.jpg' in image.image.name or '.gif' in image.image.name or '.PNG' in image.image.name or '.JPG' in image.image.name or '.JPEG' in image.image.name %} 
                                        <img src="{{image.image.url}}" alt="" height="50" width="50">
                                        {% else %}
                                        Open 
                                        {% endif %} 
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-info" href="{{image.image.url}}" download>
                                        <i class="fas fa-download"></i></a> &nbsp;
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#delete_img_modal_{{image.id}}"><i class="fas fa-trash" ></i></button>
                                </td>
                            </tr>

                            <!-- image delete modal  -->
                            <div class="modal fade" id="delete_img_modal_{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-info" id="exampleModalLongTitle">Delete</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action=""> 
                                                {% csrf_token %} 
                                                <div class="form-group mb-4" style="display: none;">
                                                    <label class="mr-sm-2" for="inlineFormCustomSelect">Id</label>
                                                    <input type="text" class="form-control" value="{{image.id}}" name="img_id" required>
                                                </div>
                                                <h3 class="text-center text-danger">Are You Sure You want To delete This Image?</h3>
                                                <div class="d-flex justify-content-center">
                                                    <button class="btn btn-danger" name="image_delete" type="submit">Delete</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add image modal  -->
<div class="modal fade" id="add_img_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info" id="exampleModalLongTitle">Add New </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="" id="" enctype="multipart/form-data"> 
                    {% csrf_token %} 
                    <div class="form-group mb-4">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Description</label>
                        <input type="text" class="form-control" name="desc" id="" required>
                    </div>
                    <div class="form-group mb-4">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Image</label>
                        <input class="" type="file" id="img" name="selected_img">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-success" name="image_submit" type="submit">Add</button>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>
<script>
    function open_img_description_input(t) {
            var img_id = t.id.split('_')[1];
            document.getElementById('img-text-section_' + img_id).classList.add('d-none');
            document.getElementById('img-edit-box-section_' + img_id).classList.remove('d-none');
        }

        function edit_img_description(t) {
            $('#cover-spin').show(0);
            var img_id = t.id.split('_')[1];
            var description = document.getElementById('image-edit-desc-input_' + img_id).value;
            // var final_list = [];
            const fileInput = document.getElementById('image-edit-file_' + img_id);
            const file = fileInput.files[0];
            const formData = new FormData();
            formData.append('file', file);
            formData.append('img_id', img_id);
            formData.append('img_disc', description);
            $.ajax({
                url: "/edit_mystery_file_description/",
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log("success", data);
                    if (data.msg == 'success') {
                        $('#cover-spin').hide(0);
                        document.getElementById('img_description_' + img_id).innerHTML = description;
                        document.getElementById('img-edit-box-section_' + img_id).classList.add('d-none');
                        document.getElementById('img-text-section_' + img_id).classList.remove('d-none');
                    }
                },
                error: function (xhr, status, error) {
                    // handle error
                    alert('Something went wrong, Please try again after refreshing the page');
                }
            });

        }
</script>