{% load mystery_extras %}
<style>
    .detail_table thead {
        position: sticky;
        top: 0;
        /* background-color: rgb(151 112 112); */
        z-index: 1;
    }

</style>
<div class="row">
    <div class="col-md-12">
        <div class="card p-2">
            <div class="table-responsive" id="audit_atr_div" style="height: 500px;">
                <table class="table no-wrap user-table mb-0 detail_table">
                    <thead style="background-color: white;">
                        <tr>
                            <th scope="col" class="text-bold" style="width: 10%;"> Detail </th>
                            <th scope="col" class="text-bold" style="width: 20%;"> Checklist </th>
                            <!-- <th scope="col" class="text-bold" style="width: 10%;"> Compliance </th> -->
                            <th scope="col" class="text-bold" style="width: 20%; word-wrap: normal;"> Relative Gaps Found </th>
                            <!-- <th scope="col" class="text-bold" style="width: 20%;">Auditor Remarks </th> -->
                            <th scope="col" class="text-bold" style="width: 45%;"> Person Responsible </th>
                            <!-- <th></th> -->
                        </tr>
                    </thead>
                    <tbody> 
                        {% for each_detail in all_audit_detail %} 
                        <tr>
                            <td style="white-space: normal;">
                                <span class="">
                                    {% if each_detail.audit_status == 'Completed' %}
                                        <i class="fas fa-check-circle text-primary"></i>
                                    {% elif each_detail.audit_status == 'Pending' %}
                                        <i class="far fa-circle text-primary "></i>
                                    {% endif %}
                                    {{each_detail.client_journey|default_if_none:'' }} - <span data-compliance-dropdown="{{each_detail.compliance_dropdown|default_if_none:''}}" id="kra__{{each_detail.id}}">{{each_detail.kra|default_if_none:'' }}</span> <br>
                                    {{each_detail.process|default_if_none:'' }}
                                </span>
                            </td>
                            <td style="white-space: normal;">
                                <span class="">
                                    <span id="test_span_{{each_detail.id}}"></span>
                                    <b>{{each_detail.mystery_shopping.id}} -  {{each_detail.sequence}} </b> <br>
                                    {{each_detail.checklist|default_if_none:'' }}
                                </span>
                            </td>
                            <td style="white-space: normal;">
                                <span class="">
                                    {{each_detail.relative_gaps_found|default_if_none:'' }}
                                </span>
                            </td>
                            <td id="">
                                <button class="btn btn-sm btn-link float-right" onclick="addDropdown('{{each_detail.id}}')"><i class="fas fa-plus"></i></button>
                                <table class="table no-wrap user-table mb-0" id="user_responsible_table_{{each_detail.id}}">
                                    <tbody>
                                    {% for each_user_response in all_user_responsible_profile %} 
                                        {% if each_user_response.mystery_checklist.id == each_detail.id %}
                                        <tr>
                                            <td style="width: 15%; white-space: normal;">
                                                <select disabled class="form-control" id="kra_dropdown__{{each_user_response.id}}" onchange="change_user_as_per_kra(this)">
                                                    <option value=""></option>
                                                    {% for each_kra in each_detail.kra|split:"," %}
                                                    <option {% if each_user_response.kra == each_kra %} selected {% endif %} value="{{each_kra}}">{{each_kra}}</option>
                                                    {% endfor %}
                                                </select>  
                                            </td>
                                            <td style="width: 25%; white-space: normal;">
                                                {% if each_user_response.action_status == 'Action Required' %} 
                                                <i class="fas fa-exclamation-circle text-danger accordion-toggle" data-toggle="collapse" data-target="#profile_{{each_user_response.id}}"></i> 
                                                {% elif each_user_response.action_status == 'Action Taken' %} 
                                                <i class="fas fa-exclamation-circle text-success accordion-toggle" data-toggle="collapse" data-target="#profile_{{each_user_response.id}}"></i> 
                                                {% endif %}
                                                <select data-user-id="{{each_user_response.staff.id}}" class="form-control" name="" id="person_responsible_dropdown__{{each_user_response.id}}" disabled>
                                                    <option value=""></option>
                                                    <option selected value="{{each_user_response.staff.id}}">{{each_user_response.staff.user.first_name|default_if_none:'' }} {{each_user_response.staff.user.last_name|default_if_none:'' }}</option>
                                                </select>
                                            </td>
                                            <td style="width: 25%; white-space: normal;">
                                                <select disabled class="form-control" id="compliance_dropdown__{{each_user_response.id}}">
                                                    {% for compliance in each_detail.compliance_dropdown|split:"," %} 
                                                    <option {% if each_user_response.compliance == compliance %} selected {% endif %} value="{{compliance}}">{{compliance}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td style="width: 25%; white-space: normal;">
                                                <textarea disabled class="form-control" id="auditor_remark__{{each_user_response.id}}" rows="3" oninput="clear_remarks('remark_error__{{each_user_response.id}}')">{{each_user_response.remark|default_if_none:'' }}</textarea>
                                                <span class="text-danger" id="remark_error__{{each_user_response.id}}"></span>
                                            </td>
                                            <td style="white-space: normal;">
                                                <div class="row">
                                                    {% if not each_detail.mystery_shopping.auditor_action_reviewed == True %} 
                                                    <button class="btn btn-link" onclick="make_user_responsible_row_editable('{{each_user_response.id}}', '{{each_detail.id}}')" id="edit_person_responsible_btn__{{each_user_response.id}}"><i class="fas fa-edit"></i></button>
                                                    <button class="btn btn-link" onclick="delete_user_response(this, '{{each_user_response.id}}')" id="remove_person_responsible_row__{{each_user_response.id}}" ><i class="fas fa-trash"></i></button>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        {% endif %} 
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        {% if each_detail.audit_status == 'Action Required' or each_detail.audit_status == 'Action Taken' %}
                        <tr class="p-0">
                            <td colspan="7" class="hiddenRow p-0">
                                <div id="profile_{{each_user_response.id}}" class="accordion-body collapse">
                                    <div class="p-4" style="background-color: aqua;">
                                        <div class="row">
                                            <div class="col-3">
                                                <label class="mr-sm-2" for="inlineFormCustomSelect">Audit Status</label>
                                                <select class="form-control" name="audit_status" id="audit_status_{{each_user_response.id}}">
                                                    <option {% if each_user_response.audit_status == 'Action Required' %} selected {% endif %} value="Action Required">Action Required</option>
                                                    <option {% if each_user_response.audit_status == 'Action Taken' %} selected {% endif %} value="Action Taken">Action Taken</option>
                                                </select>
                                            </div>
                                            <div class="col-9">
                                                <span class="" style="font-weight: bold;">Comments for Auditor</span> <br>
                                                {{each_user_response.comment_for_auditor|default_if_none:'No Comments Added'}}
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center mt-2">
                                            <button class="btn btn-success" id="btn_{{each_user_response.id}}" type="button" onclick="edit_audit_status_dropdown(this)">Update Status</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- delete user-response modal  -->
<div class="modal fade" id="delete_user_response_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info" id="exampleModalLongTitle">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action=""> 
                    {% csrf_token %} 
                    <input type="hidden" name="user_del_id" id="user_del_id">
                    <h3 class="text-center text-danger">Are You Sure You want To delete This Image?</h3>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-danger" name="user_resp_delete" type="submit">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function edit_audit_status_dropdown(t){
        $('#cover-spin').show(0);
        var btn_id = t.id.split('_')[1];
        var audit_status = document.getElementById('audit_status_' + btn_id).value;
        fetch("/edit_mystery_audit_status_dropdown/", {
            method: "POST",
            body: JSON.stringify({
                'data_id': btn_id,
                'status': audit_status
            }),
            // Adding headers to the request
            headers: {
                "Content-type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
        })
            .then((response) => {
                // console.log(response);
                if (response.redirected) {
                    window.location.href = response.url;
                    return;
                }
                return response.json();
            })
            .then((data) => {
                // console.log("Success: ", data);
                if (data.msg == 'success') {
                    $('#cover-spin').hide(0);
                    $('#profile_' + btn_id).collapse('hide');
                    // $('#details_'+btn_id).stopPropagation()
                }
                else {
                    $('#cover-spin').hide(0);
                    alert('Something went wrong, Please try again after refreshing the page')
                }
            });

    }
</script>

<script>
    $(document).ready(() => {
        all_employee_list = {{ all_employee_list|safe }};
        center_id = {{ audit_query.center.id }};
    });

    var all_employee_list = [];
    var center_id = 0;
    let rowCount = 0; // Counter for generating unique IDs

    function addDropdown(checklist_id) {
        rowCount++;
        const table = document.getElementById('user_responsible_table_'+checklist_id);
        var newRow = document.createElement('tr');
        var kra_span = document.getElementById('kra__'+checklist_id);
        var kra_text = kra_span.innerHTML;
        var kra_list = kra_text.split(',');
        var complianceValue = kra_span.getAttribute("data-compliance-dropdown");
        var compliance_list = complianceValue.split(',');
        // console.log('text', kra_text, complianceValue);
        newRow.innerHTML = `
            <td style="width: 15%; white-space: normal;">
                <select class="form-control" id="kra_dropdown__${rowCount}new" onchange="change_user_as_per_kra(this)">
                </select>
            </td>
            <td style="width: 25%; white-space: normal;">
                <select class="form-control" id="person_responsible_dropdown__${rowCount}new"></select>
            </td>
            <td style="width: 25%; white-space: normal;">
                <select class="form-control" id="compliance_dropdown__${rowCount}new"></select>
            </td>
            <td style="width: 25%; white-space: normal;">
                <textarea class="form-control" id="auditor_remark__${rowCount}new" rows="3" oninput="clear_remarks('remark_error__${rowCount}')"></textarea>
                <span class="text-danger" id="remark_error__${rowCount}new"></span> 
            </td>
            <td style="white-space: normal;">
                <div class="row">
                    <button class="btn btn-link" id="edit_person_responsible_btn__${rowCount}new" onclick="save_and_disable_user_responsible_row('${rowCount}new', ${checklist_id}, 'New')">
                        <i class="fas fa-check"></i>
                    </button>
                    <button class="btn btn-link" id="remove_person_responsible_row__${rowCount}new" onclick="remove_person_responsible_row(this)">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </td>
        `;
        table.appendChild(newRow);
        var selected_kra = '';
        var need_empty = true;
        if(kra_list.length == 1){
            selected_kra = kra_list[0];
            need_empty = false;
            change_user_as_per_kra({'id':'kra_dropdown__' + rowCount + 'new', 'value':selected_kra})
        }
        create_select_options_from_array('kra_dropdown__' + rowCount + 'new', kra_list, need_empty, selected_kra);
        create_select_options_from_array('compliance_dropdown__' + rowCount + 'new', compliance_list, true)
                        
    }


    function create_select_options_from_array(select_id,array,add_blank_option,selected_value)
    {
        var select_element = document.getElementById(select_id);
        if(add_blank_option==true)
        {
            var option = document.createElement("option");
            option.value = ''; 
            option.text = ''; 
            // Append the option to the select element
            select_element.appendChild(option);
        }


        for (var i = 0; i < array.length; i++) {
            var option = document.createElement("option");
            option.value = array[i].toString().trim(); // Set the value attribute
            option.text = array[i].toString().trim();  // Set the text displayed in the option
            if(array[i]== selected_value)
            {
                option.selected = true
            }
            // Append the option to the select element
            select_element.appendChild(option);
        }
    }


    function disable_and_enable_fields(t, status){
        document.getElementById('kra_dropdown__'+t).disabled = status;
        document.getElementById('person_responsible_dropdown__' + t).disabled = status;
        document.getElementById('compliance_dropdown__' + t).disabled = status;
        document.getElementById('auditor_remark__'+t).disabled = status;
    }

    function make_user_responsible_row_editable(t, checklist_id) {
        var user_resp_row_id = t;
        var kra_dropdown = document.getElementById('kra_dropdown__' + user_resp_row_id);
        var selected_kra = kra_dropdown.value;
        var person_responsible_dropdown = document.getElementById('person_responsible_dropdown__' + user_resp_row_id);
        var selected_user = person_responsible_dropdown.value;
        change_user_as_per_kra({'id':user_resp_row_id, 'value':selected_kra}, selected_user);
        disable_and_enable_fields(user_resp_row_id, false)
        
        var EditBtn = document.getElementById("edit_person_responsible_btn__" + user_resp_row_id);
        var editiconElement = EditBtn.querySelector("i");
        editiconElement.classList.remove("fa-edit");
        editiconElement.classList.add("fa-check");
        EditBtn.onclick = function () {
            save_and_disable_user_responsible_row(user_resp_row_id, checklist_id, 'Old');
        }      
    }

    function save_and_disable_user_responsible_row(user_resp_row_id, checklist_id, status) {
            
            var selected_user = document.getElementById('person_responsible_dropdown__' + user_resp_row_id).value;
            var selected_compliance = document.getElementById('compliance_dropdown__' + user_resp_row_id).value;
            var get_remark = document.getElementById('auditor_remark__' + user_resp_row_id).value;
            var get_kra = document.getElementById('kra_dropdown__' + user_resp_row_id).value;

            var compliance_list = ["Partially followed", "Couldn't follow", "Not aware", "Not followed", "Like", "Partially Like", "Dislike", "1", "2", "3", "4", "5", "Yes", "No", "May be", "Couldnt follow"];

            if (selected_compliance.length == 0) {
                alert('Please select Compliance');
                return;
            }
            if (selected_user.length == 0) {
                alert('Please select User');
                return;
            }
            if (compliance_list.indexOf(selected_compliance) !== -1) {
                if (get_remark.length > 1) {
                    document.getElementById('remark_error__' + user_resp_row_id).innerHTML = '';
                }
                else {
                    document.getElementById('remark_error__' + user_resp_row_id).innerHTML = 'Please write the Remarks';
                    return;
                }
            }
            $('#cover-spin').show(0);

            var response = {
                'user_resp_row_id': user_resp_row_id,
                'checklist_id': checklist_id,
                'audit_name': 'Mystery Shopping',
                'status': status,
                'selected_user': selected_user,
                'selected_compliance': selected_compliance,
                'get_remark': get_remark,
                'get_kra': get_kra
            }


            fetch("/save_selected_user_responsible/", {
                method: "POST",
                body: JSON.stringify(response),
                // Adding headers to the request
                headers: {
                    "Content-type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}",
                },
            })
                .then((response) => {
                    // console.log(response);
                    if (response.redirected) {
                        window.location.href = response.url;
                        return;
                    }
                    return response.json();
                })
                .then((data) => {
                    var user_resp_query_id = data.user_resp_query_id;
                    if (data.msg == 'success') {
                        var delBtn = document.getElementById("remove_person_responsible_row__" + user_resp_row_id);
                        var saveBtn = document.getElementById("edit_person_responsible_btn__" + user_resp_row_id);
                        var userRespdropdownId = document.getElementById('person_responsible_dropdown__' + user_resp_row_id);
                        var compliancepdropdownId = document.getElementById('compliance_dropdown__' + user_resp_row_id);
                        var kradropdownId = document.getElementById('kra_dropdown__' + user_resp_row_id);
                        var remarkText = document.getElementById('auditor_remark__' + user_resp_row_id);
                        var remarkError = document.getElementById("remark_error__" + user_resp_row_id);
                        if(status == 'New'){
                            delBtn.id = 'remove_person_responsible_row__' + user_resp_query_id;
                            saveBtn.id = 'edit_person_responsible_btn__' + user_resp_query_id;
                            userRespdropdownId.id = 'person_responsible_dropdown__' + user_resp_query_id;
                            compliancepdropdownId.id = 'compliance_dropdown__' + user_resp_query_id;
                            kradropdownId.id = 'kra_dropdown__' + user_resp_query_id;
                            remarkText.id = 'auditor_remark__' + user_resp_query_id;
                            remarkError.id = 'remark_error__'+user_resp_query_id
                        }
                        
                        delBtn.onclick = function () {
                            delete_user_response(this, user_resp_query_id);
                        }
                        var editiconElement = saveBtn.querySelector("i");
                        editiconElement.classList.remove("fa-trash-check");
                        editiconElement.classList.add("fa-edit");
                        saveBtn.onclick = function () {
                            make_user_responsible_row_editable(user_resp_query_id, checklist_id, 'Old');
                        }
                        disable_and_enable_fields(user_resp_query_id, true);
                        $('#cover-spin').hide(0);
                    }
                    else {
                        $('#cover-spin').hide(0);
                        alert('Something went wrong, Please try again after refreshing the page')
                    }
                });
        }
    
        function clear_remarks(remark_error_id){
            document.getElementById(remark_error_id).innerHTML = '';
        }

</script>